{% extends 'blog/base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div>
  <h2 class="section-heading mb-1">{{ post.title }}</h2>
</div>

<div class="post-header d-flex align-items-start mb-3">


      {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-thumbnail me-3">
      {% endif %}


    </div>

    <div class="post-content">
      {{ post.content|linebreaksbr|urlize }}
    </div>

    <a class="btn btn-primary btn-sm" href="{% url 'blog-home' %}">Back to home</a>

    <hr>

    <h4>Comments</h4>
    {% for comment in comments %}
      <div class="mb-3">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">
                <strong>{{ comment.author }}</strong> on {{ comment.date_posted|date:"F j, Y H:i" }}

            </h6>       
            <p class="card-text">{{ comment.body }}
            {% if comment.author == user %}
                    <a href="{% url 'comment-edit' comment.pk %}" class="">Edit</a>
            {% endif %}
            </p>
        </div>
      </div>
    {% empty %}
      <p>No comments yet. Be the first to comment!</p>
    {% endfor %}

    <h4>Leave a Comment</h4>
    {% if user.is_authenticated %}
      <div class="comment-box">
        <form method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="mb-3">
            {{ form.body }}
          </div>
          <button type="submit" class="btn btn-primary">Post Comment</button>
        </form>
      </div>
    {% else %}
      <p><a href="{% url 'login' %}">Login</a> to leave a comment.</p>
    {% endif %}




{% endblock %}